.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  background-color: white;
  top: 0;
  z-index: 100;
}

.header__left {
  display: flex;
  align-items: center;
  padding: 20px;
}

.header__leftLogo {
  margin-left: 20px;
  object-fit: contain;
  height: 20px;
}

.header__input {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 1px;
  width: 40%;
}

.header__inputSearch {
  border-left: 1px solid #ccc;
  background-color: #f2f2f2;
  color: gray;
  width: 50px !important;
  padding: 3px;
}

.header__input > input {
  border: none;
  flex: 1;
  font-size: 16px;
  margin-left: 4px;
}

.header__input > input:focus {
  outline: none;
}

.header__icons {
  display: flex;
  align-items: center;
  margin-right: 30px;
  padding: 5px;
}

.header__icon {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 15px;
  color: #5e5d5d;
}
