.searchresult {
  flex: 0.8;
  background-color: #f9f9f9;
  height: 90vh;
}

.searchresult > hr {
  border: 0;
  height: 1px;
  background-color: lightgray;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  width: 93%;
}

.searchresult_channelImage {
  border-radius: 50%;
  height: 150px;
  margin-left: 5rem;
  margin-right: 5rem;
}

.searchresult__filter {
  display: flex;
  align-items: center;
  padding: 20px;
  padding-bottom: 0;
  margin-left: 1rem;
  width: 93%;
}

.searchresult__filter > h4 {
  margin-left: 10px;
  color: rgb(96 96 96);
  font-size: 15px;
}

.searchresult__filterIcon {
  color: rgb(96 96 96);
  font-size: 15px;
}

.searchresult__channelInfo {
  display: flex;
  align-items: center;
  padding: 15px;
  justify-content: space-between;
  width: 93%;
}

.searchresult__channelTitle {
  display: flex;
  align-items: center;
}

.searchresult__channelDescription > p {
  max-width: 500px;
  font-size: 14px;
  color: rgb(96 96 96);
}

.subscribeBtn {
  text-transform: capitalize;
  border: none;
  padding: 10px;
  font-size: 15px;
  color: rgb(96 96 96);
}

.notificationIcon {
  color: rgb(96 96 96);
}

.searchresult__channelTitle > .MuiSvgIcon-root {
  color: rgb(96 96 96);
  margin-left: 5px;
  font-size: 14px;
}
